/* 添加Google Fonts字体链接 */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Righteous');

/* 为body元素添加背景颜色和字体 */
/* body {

  background-image: radial-gradient(circle, white, black);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
} */


/* 为canvas元素添加背景颜色和阴影效果 */
.dialog {
  padding: 10px;
  width: 280px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  z-index: 11;
  border-radius: 3px;
}
.title {

}
.dialogTxt {
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  height: 32px;
  border: solid 1px #000;
  box-sizing: border-box;
}
.sure {
  width: 50px;
  padding: 5px;
  background-color: #4b7ede;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  float: right;
}

canvas {
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.3) inset;
  border-radius: 20px;
  border: 1px solid #fff;
  margin: auto;
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;
  bottom: 0;
  z-index: 10;
  background-color: #000;
}

